/* css变量 */

:root.dark {
    --main-color: #1e1e1e;
    --sub-color: #2d2d2d;
    --font-color: #fff;
    --font-color-sub: #b1b1b1;
    --font-color-sub2: #777;
    --header-color: #2c2c2c;
    --warning-color: #f44336;
    --online-color: #45ff4b;
    --leave-color: #ff4b4b;
    --border-color: #ffffffc2;

    --circle-bg-color: #333333;
    --circle-bg-color2: #1e1e1e;
    --circle-bg-color3: #767676;

    /* vant样式覆盖 */

    /* 按钮 */

    --van-button-danger-background: #f44336;
    --van-nav-bar-icon-color: #fff;

    /* 单元格 */
    --van-cell-group-title-padding: 5px 10px;
    --van-cell-group-title-font-size: 12px
}